/* Header Styling */
.demo-logo {
  width: 80px;
  height: 50px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
  object-fit: contain;
}

/* Menu Styling */
.ant-menu-horizontal {
  font-size: 24px;
  flex: 1;
  min-width: 0;
}

/* Link Items in Header */
.header-link {
  font-size: 20px;
  transition: color 0.3s;
}

/* Content Styling */
.layout-content {
  padding: 24px;
  min-height: calc(100vh - 134px);
  border-radius: 8px;
  background: #ffffffa6;
}

/* Footer Styling */
.layout-footer {
  text-align: center;
  position: sticky;
  bottom: 0;
  color: #001529;
  background: #f0f2f5;
}
